			body {
				margin: 0;
				padding: 0;  
				font-family: "微软雅黑";
				overflow: scroll;
				white-space:nowrap; 
				min-width:800px;
			} 
			th,
			td {
				text-align: center;
				vertical-align: middle; 
			} 
			#teach-s:hover{
			 cursor: pointer;
			}
			.glyphicon-ok{
				color: #77FB02;
			}
			.glyphicon-remove{
				color: red;
			}
			tr td:first-child {
				vertical-align: middle;
			}
			.s-top-title ul {
				overflow: hidden;
				padding: 0;
			}
			
			.s-top-title li {
				list-style: none;
				float: left;
				padding: 0px 10px 0px;
				font-size: 19px;
				/*font-weight: bold;*/
				color: #777777;
			} 
			.s-top-title li:hover {
				color: red;
				 cursor: pointer;
			}
		    .s-top-title ul .selected {
				color: red;
			}
			
			
			
			/**
			*搜索
			*/ 
			.bar-search { 
			    min-width: 105px;
			    max-width: 205px;
			    height: 30px;
			    width: 21%; 
			    float: right; 
			    margin: 4px 20px; 
			    position: relative;    
			}.bar-search .form-box {
			    padding-left: 15px;
			    padding-right: 54px;
			    background: #f1f2f4;
			    border-radius: 33px;
			}.bar-search .search-query {
			    width: 100%;
			    height: 30px;
			    background: 0 0;
			    border: 0;
			    outline: 0;
			    line-height: 29px!important;
			    position: relative;
			    font-size: 12px;
			}.bar-search .search-button {
			    display: block;
			    width: 15px;
			    height: 15px;
			    border: 0;
			    position: absolute;
			    top: 6px;
			    font-size: 14px;
			    outline: 0;
			    cursor: pointer;
			    right: 13px;
			}